#title{color: rgb(255, 137, 52);}

#container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 15%;
    background-color: rgb(193, 191, 191);
    padding-left: 10px;
}

.content{
    width: 85%;
    margin: 10px 0 10px 0;
    text-align: center;
}