@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
  background-color: #fdfcf5;        
  color: #000000;                   
  font-family: "Potta One";
}

h1 {
  color: #a0522d;                   
  text-align: center;
  border-top: 2px solid #a0522d;
  border-bottom: 2px double #a0522d;
  margin-bottom: 20px;
}

p {
  margin: 10px 0 20px;
  color: #666666;
}
img {
  display: inline-block;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.sidebar li {
  display: block;
  margin: 0px 0px 5px 0px;
  padding: 5px;
  border-right: solid 2px #cccccc;
  background-color: #eeeeee;
}
#container {
  display: flex;
  flex-direction: row;
}
.content {
  width: 70%;
  margin: 10px 0 10px 0;
}

